Put your images into a collection.
<br/>
In Lightroom, create a Faces keyword. <br/>
Create all names you want to recognize as children of Faces keyword.
<br><br/>
<b>USE AT YOUR OWN RISK. IT CAN CORRUPT THE DATABASE, WORK WITH A BACKUP !</b>
<br/><br/>

<div class="lrback">
    <div class="leftpos">
	<label>Select a collection</label> 
	<select ng-disabled="isWorking()" ng-model="collection" ng-options="c.name for c in collections" ng-change="Process(collection.id)"></select>
  	<br/><br/>
  	<progress-indicator progress=currentProgress collection=collection></progress-indicator>
  	<img src="{{colors}}"/>
    </div>

  	<div ng-controller="NameCtrl" ng-show="showMe" class="rightpos">
  		<br/>
  		Who is it ?
  		<br/>
  		<img src="{{imgSrc}}"/>
  		<br/>
        <select ng-model="name" ng-options="c.name for c in names" ng-change="SetName(name.name)"></select>
  		<button ng-click="Skip()">Skip</button>
  		<button ng-click="Label()">Tag</button>
        <br/>
        <label>Trust: {{curHead.confid}} %</label>
  	</div>
</div>


