<div>
	Put your images into a collection.
	<br/>
	Enter the name of the various faces. It will learn and will recognize the subjet. In case of error, enter the correct name.
	<br><br/>
	<b>USE AT YOUR OWN RISK. IT CAN CORRUPT THE DATABASE, WORK WITH A BACKUP !</b>
	<br/><br/>
	<label>Select a collection</label> 
	<select ng-disabled="isWorking()" ng-model="collection" ng-options="c.name for c in collections" ng-change="Process(collection.id)"></select>
  	<br/><br/>
  	<progress-indicator progress=currentProgress></progress-indicator>
  	
  	<div ng-controller="NameCtrl">
  		<br/>
  		Who is it ?
  		<br/>
  		<img src="{{imgSrc}}"></img>
  		<br/>
  		<input type="text" ng-model="name">
  		<button ng-click="Skip()">Skip</button>
  		<button ng-click="Label()">Tag</button>
  	</div>
</div>


