<div>
	Put your images into a collection. Create virtual copies for all images in the collection.
	<br/>
	Only the virtual copies will be cropped around the head. <br>To see the result, press R in lightroom to generate the preview again. 
	<br><br/>
	<b>USE AT YOUR OWN RISK. IT CAN CORRUPT THE DATABASE, WORK WITH A BACKUP !</b>
	<br/><br/>
	<label>Select a collection</label> 
	<select ng-disabled="isWorking()" ng-model="collection" ng-options="c.name for c in collections" ng-change="Process(collection.id)"></select>
  	<br/><br/>
  	<progress-indicator progress=currentProgress></progress-indicator>
  	
  	<div ng-controller="NameCtrl">
  		<br/>
  		Who is it ?
  		<br/>
  		<img src="{{imgSrc}}"></img>
  		<br/>
  		<input type="text" ng-model="name">
  		<button ng-click="Skip()">Label</button>
  		<button ng-click="Label()">Train</button>
  	</div>
</div>


