In progress: <b>{{progress.text}}</b>
<div class="ng-hide" ng-hide=progress.end>
<progress  value={{progress.index}} max={{progress.maxi}}></progress>
</div> 
<br/>
<button ng-click="toggleList(showList)">Number of errors:{{progress.errors.length}}</button>
<br/>
<div ng-show="showList">
    (Scroll if needed)
    <br/>
    <div class="errors">
        <li ng-repeat="e in progress.errors">
            No faces found on <b>{{e.path}}</b> <br/>
        </li>
    </div>
    <button ng-show="progress.errors.length >0" ng-click="generate(collection)">Generate a collection {{collection.name}}-noface</button>
</div>
